@font-face {
    font-family: 'Cormorant';
    src: url('../font/Cormorant-Medium.woff2') format('woff2'),
        url('../font/Cormorant-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: url('../font/Cormorant-Regular.woff2') format('woff2'),
        url('../font/Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

