// firstsection
.changeimg {
  height: 100vh;
  display: flex;
  .img {
    width: 100%;
  }
  .left {
    width: 15.4px;
    height: 30px;
    position: absolute;
    top: calc(100vh / 2);
    left: 21vw;
    z-index: 10;
  }
  .right {
    position: absolute;
    top: calc(100vh / 2);
    right: 21vw;
    z-index: 10;
  }
  .text {
    position: absolute;
    gap: 0;
    @include flex-center(column, center, center);
    width: 100%;
    height: 100vh;
    button {
      @include size-t;
      padding: 6px 12px;
      text-transform: uppercase;
    }
    p {
      color: hsla(0, 0%, 100%, 0.502);
      @include size-p;
      max-width: 500px;
      margin-bottom: 16px;
      text-align: center;
    }
    h2 {
      @include h;
      color: #c19f5f;
    }
    h1 {
      @include h;
      color: rgb(255, 255, 255);
    }
  }
}
// secondsection
.secondSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgb(15, 14, 15);
  padding: 3.34vw 5vw;
  .productFeatures {
    color: #fff;
    margin-top: 3.34vw;
    padding: 0 12px;
    width: calc(100% / 3);
    z-index: 3;
    h3 {
      font-weight: 500;
      font-size: 2.78vw;
      line-height: 3.34vw;
      span {
        color: #c19f5f;
      }
    }
    p {
      color: hsla(0, 0%, 100%, 0.502);
      font-weight: 400;
      font-size: 1.25vw;
      line-height: 27px;
    }
    h5 {
      @include size-p;
      path{
        fill: #c19f5f;
      }
    }
    a {
      color: #c19f5f;
      font-size: 12px;
      letter-spacing: 2px;
      margin-top: 1.5rem;
      font-weight: 400;
      line-height: 1.25vw;
      display: flex;
      align-items: center;
      text-decoration-line: none;
    }
  }
  ul {
    z-index: 3;
    margin-top: 3.34vw;
    padding: 0 12px;
    width: calc(100% / 3);
    list-style: none;

    li {
      position: relative;
      padding-left: 32px;
      h5 {
        color: rgb(255, 255, 255);
        @include size-p;
        margin-bottom: 8px;
      }
      p {
        font-size: 1.25vw;
        @include p;
      }
      &::before {
        @include generalStyle;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
      }
    }

    li:nth-child(1)::before {
      background-image: url("../img/leaf-solid.svg");
    }

    li:nth-child(2) {
      margin: 24px 0;
    }

    li:nth-child(2)::before {
      background-image: url("../img/gift-solid.svg");
    }

    li:nth-child(3)::before {
      background-image: url("../img/bars-solid.svg");
    }
  }

  figure {
    width: calc(100% / 3);
    height: 24.6vw;
    position: absolute;
    left: 33%;
    z-index: 1;
  }
}
// thirdsection
.WhatMakesUsSpecial {
  background: linear-gradient(#00000080, rgba(0, 0, 0, 0.5)),
    url("../img/parallax_02.jpg");
  position: relative;
  width: 100%;
  min-height: 34.723vw;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-weight: 500;
    font-size: 6.2vw;
    color: #ffffff;
    line-height: 7.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    span {
      color: #c19f5f;
    }
  }
  .square {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20.89vw;
    height: 20.89vw;
    border: 1px solid #c19f5f;
    transform: translate(-50%, -50%);
    animation: rotate-center 16s linear infinite;
  }
}
@keyframes rotate-center {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
// 4basliq
.OnlineStore {
  background-color: rgb(15, 14, 15);
  .textDiscover {
    text-align: center;
    padding-top: 48px;
    p {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 0.903vw;
      color: #c19f5f;
      line-height: 1.3542vw;
      letter-spacing: 2px;
    }
    h1 {
      font-weight: 500;
      font-size: 3.82vw;
      color: #ffffff;
      line-height: 4.589vw;
      margin-bottom: 8px;
    }
  }
  .cardForCandy {
    .noSlider {
      padding: 3.34vw 5vw;
      display: flex;
      gap: 3.34vw;
      .candyBox {
        width: calc((100% - 144px) / 4);
        margin-top: 48px;
        .boxWrp {
          position: relative;
          @include flex-center(column, center, center);
          .square {
            background-image: url("../img/download.png");
            width: 20vw;
            height: 20vw;
            background-repeat: no-repeat;
            background-size: 170%;
            position: absolute;
            border-radius: 50%;
            top: 0;
            z-index: 3;
            animation: rotate 15s linear infinite;
            &:hover + button {
              opacity: 1;
              transform: translateY(0); /* Button should slide from below */
            }
          }
          figure {
            width: 77%;
            height: 67%;
            @include flex-center(row, center, center);
            img {
              z-index: 4;
            }
          }

          button {
            font-size: 10px;
            color: #c19f5f;
            line-height: 15px;
            letter-spacing: 1px;
            background-color: rgba(0, 0, 0, 0.5);
            height: 3.48vw;
            width: 11.806vw;
            border: 1px solid rgb(193, 159, 95);
            border-radius: 40px;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translateX(-50%) translateY(40%); /* Ortada qalır və aşağıda gizlənir */
            opacity: 0;
            z-index: 5;
            transition: opacity 0.5s ease, transform 0.5s ease,
              border-color 0.3s ease, color 0.3s ease;
          }
          
          &:hover button {
            opacity: 1;
            transform: translateX(-50%) translateY(0); /* Yalnız yuxarı çıxır */
          }
          
        }

        h4 {
          color: rgb(255, 255, 255);
          margin-top: 10px;
          font-size: 1.67vw;
          text-align: center;
          line-height: 2.02vw;
          font-weight: 400;
        }
        p {
          color: rgb(193, 159, 95);
          margin: 8px 0 16px;
          @include size-t;
          text-align: center;
        }
      }
    }
  }
  .button {
    button {
      display: block;
      margin: 1.67vw auto 0;
    }
  }
}
// 5ci basliq
.WatchVideo {
  position: relative;
  padding: 6.95vw 6.32vw;
  background-color: rgb(15, 14, 15);
  figure {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) 50%
        center / cover no-repeat fixed,
      url("../img/video-bg.jpg");
    width: 100%;
    height: 27.78vw;
    background-size: cover;
    background-attachment: fixed;
  }
  .textCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 6vw;
      line-height: 108px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .buttonicon {
      cursor: pointer;
      border: 1px solid rgb(193, 159, 95);
      padding: 2.09vw 2.435vw;
      background-color: transparent;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
      img {
        width: 23px;
        height: 26px;
      }
    }
  }
}
// 6ci basliq
.Statistics {
  text-align: center;
  background-color: rgb(15, 14, 15);
  padding: 3.48vw 0;
  color: #c19f5f;
  @include flex-center(row, space-between, center);
  .stat {
    flex: 1;
    padding: 0 20px;
    h1 {
      font-size: 4.17vw;
      font-weight: 500;
      margin-bottom: 10px;
      color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    p {
      @include size-t;
      color: #b0b0b0;
    }

    &:hover h1 {
      transform: scale(1.1);
    }
  }
}
// 7ci basliq
.gallery {
  background: linear-gradient(rgba(15, 14, 15, 0.9), rgba(15, 14, 15, 0.9)),
    url("../img/parallax_03.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3.34vw 0;
  .textcenter {
    text-align: center;
    p {
      @include size-t;
      letter-spacing: 2px;
      color: #c19f5f;
      margin-bottom: 16px;
    }
    h1 {
      font-size: 2.78vw;
      line-height: 3.34vw;
      color: #fff;
      font-weight: 500;
      margin-bottom: 8px;
    }
  }
  &__box {
    margin: 6.67vw 0 3.34vw;
    gap: 3.34vw;
    @include flex-center;
    div {
      width: calc((100% - 23.82vw) / 4);
      position: relative;
      figure {
        overflow: hidden;
      }
      .square {
        border: 1px solid #c19f5f;
        height: 70%;
        left: 15%;
        position: absolute;
        top: 15%;
        transform: rotate(30deg);
        transform: rotate(30deg);
        transition: 0.3s;
        width: 70%;
        z-index: 59;
      }
      &:hover .square {
        height: 100%;
        left: 0;
        top: 0;
        transform: rotate(0deg);
        transform: rotate(0deg);
        transition: 0.3s;
        width: 100%;
      }
    }
  }
  button {
    margin: 0 auto;
    display: block;
  }
}
// our mission
.leftRight {
  display: flex;
  background-color: #212529;

  figure {
    width: 50%;
  }
}
.textPA,
.textPA ~ figure {
  position: absolute;
  top: 0;
}
.textPA {
  top: 20%;
  left: 60%;
  z-index: 11;
  width: 30%;
  color: rgb(255, 255, 255);
  p {
    color: rgb(193, 159, 95);
    font-size: 1vw;
    font-weight: 400;
margin-bottom: 16px;
  }
  h1 {
    font-weight: 500;

    font-size: 3.13vw;
  }
  h5{
    font-size: 1.74vw;
    font-weight: 500;
    margin: 50px 0 8px;

  }
  h6{
    font-size: 0.84vw;
    font-weight: 500;

    color: rgb(193, 159, 95);
letter-spacing: 4px;
  }
}
